name: Build SBF (working)

on:
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Pull official SBF tools
        run: |
          docker pull ghcr.io/anza-xyz/sbf-tools:v1.18

      - name: Build Program
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/work \
            -w /work \
            ghcr.io/anza-xyz/sbf-tools:v1.18 \
            bash -c "cargo build-sbf --manifest-path Cargo.toml"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: fogo_program
          path: target/deploy/*.so
