name: Build SBF From Source

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        run: |
          sudo apt update
          sudo apt install -y curl build-essential clang cmake libssl-dev pkg-config
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          source $HOME/.cargo/env
          rustup default stable

      - name: Build Solana SBF Toolchain
        run: |
          git clone https://github.com/solana-labs/solana
          cd solana
          git checkout v1.18.26

      - name: Build Program
        run: |
          source $HOME/.cargo/env
          cargo build --release

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: fogo_program
          path: target/release/*.so
